* 
{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: #282c34;
  color: #ffffff;
  font-family: 'EB Garamond', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
   padding: 20px;
   text-align: center;
  
   

}

.conteudo-Principal{
  align-items: center;
  margin: 20px; 
   padding: 20px;
  
  

}


.cabeçalho{
  text-align: center;
  align-items:center;
   padding: 20px;

}

.navegação{
   padding: 10px;
  bottom: 5px;

}

.hero{
   padding: 20px;

}

.titulo-principal{
   padding: 20px;

}


.destaque-hero{
padding: 5px;
   background-color: green;

}

.sobre{
 padding: 20px;
}

.titulo-sobre{
   padding: 20px;

}

.projetos{
   padding: 20px;

}

.titulos-projetos{
 padding: 20px;
}

.Projeto-Cards{
 padding: 20px;
}
 

.contato{
 padding: 20px;
}

.botao{
display: inline-block;
    padding: 10px 20px;
    margin: 10px;  
    background-color: #;
    color: white;

}

.botao:hover{
  background-color: green;
}

.Rodape{
   padding: 20px;
}